<div style="background:#e5e5e5; color:#000; padding:10px">

–ü—Ä–∏–≤–µ—Ç –µ—â–µ —Ä–∞–∑!\
–ü–æ–∑–¥—Ä–∞–≤–ª—è—é —Å –∑–∞–≤–µ—Ä—à–µ–Ω–∏–µ–º —Ñ–∏–Ω–∞–ª—å–Ω–æ–≥–æ —Å–ø—Ä–∏–Ω—Ç–∞!
    

–î–ª—è –ø—Ä–æ–∫–∞—á–∫–∏ <code>SQL</code> –∏ –±–æ–ª—å—à–µ–≥–æ –ø–æ–Ω–∏–º–∞–Ω–∏—è –∫–∞–∫ –≤—Å—ë —É—Å—Ç—Ä–æ–µ–Ω–æ, —Ä–µ–∫–æ–º–µ–Ω–¥—É—é <a href="https://www.youtube.com/playlist?list=PLkcP_moW_BpOs4gO6SrPrvXu0sPcTyUyp">youtube –ª–µ–∫—Ü–∏–∏</a>


</div>

<div style="border:solid black 2px; padding: 20px">
–ò–≤–∞–Ω, –ø—Ä–∏–≤–µ—Ç!
    
 
–°–≤–æ–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ —è –±—É–¥—É –≤—ã–¥–µ–ª—è—Ç—å —Å–ª–µ–¥—É—é—â–∏–º –æ–±—Ä–∞–∑–æ–º:
<div class="alert alert-danger">
    
  <b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ç–∏–º–ª–∏–¥–∞</b>
    
  ‚ùå –¢–∞–∫ –≤—ã–¥–µ–ª–µ–Ω–æ —Ç–æ, —á—Ç–æ –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ –∏—Å–ø—Ä–∞–≤–∏—Ç—å, –ø—Ä–µ–∂–¥–µ —á–µ–º —è —Å–º–æ–≥—É –ø—Ä–∏–Ω—è—Ç—å —Ç–≤–æ–π –ø—Ä–æ–µ–∫—Ç.
</div>
    
    
<div class="alert alert-warning">
    
  <b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ç–∏–º–ª–∏–¥–∞</b>
    
  ‚ö†Ô∏è –¢–∞–∫ –æ—Ç–º–µ—á–µ–Ω—ã –Ω–µ –æ–±—è–∑–∞—Ç–µ–ª—å–Ω—ã–µ –∫ –¥–æ—Ä–∞–±–æ—Ç–∫–µ –º–æ–º–µ–Ω—Ç—ã. M–æ–∂–µ—à—å —É—á–µ—Å—Ç—å –∏—Ö –ø—Ä–∏ —Ä–µ–¥–∞–∫—Ç–∏—Ä–æ–≤–∞–Ω–∏–∏ –ø—Ä–æ–µ–∫—Ç–∞. –ù–∞ —Ç–≤–æ–µ —É—Å–º–æ—Ç—Ä–µ–Ω–∏–µ.
</div>
    
    
<div class="alert alert-success">
  
  <b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ç–∏–º–ª–∏–¥–∞</b>
    
  ‚úîÔ∏è –ê —Ç–∞–∫ —É–¥–∞—á–Ω—ã–µ —Ä–µ—à–µ–Ω–∏—è –∏ –ø–æ–¥—Ö–æ–¥—ã, –Ω–∞ –∫–æ—Ç–æ—Ä—ã–µ —Å—Ç–æ–∏—Ç –æ–ø–∏—Ä–∞—Ç—å—Å—è –≤ –±—É–¥—É—â–∏—Ö –ø—Ä–æ–µ–∫—Ç–∞—Ö.
</div>
    
    
<div style="border:solid black 2px; padding: 20px">
  
    
  <b>–ß–µ–∫-–ª–∏—Å—Ç –¥–æ—Ä–∞–±–æ—Ç–æ–∫</b>
    
  üìÉ –¢–∞–∫–æ–π –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –±—É–¥–µ—Ç –≤ –∫–æ–Ω—Ü–µ —Ç–µ—Ç—Ä–∞–¥–∫–∏. –í –Ω–µ–º –±—É–¥—É—Ç –µ—â–µ —Ä–∞–∑ —É–∫–∞–∑–∞–Ω—ã –Ω—é–∞–Ω—Å—ã, —Ç—Ä–µ–±—É—é—â–∏–µ –æ–±—è–∑–∞—Ç–µ–ª—å–Ω–æ–≥–æ –∏—Å–ø—Ä–∞–≤–ª–µ–Ω–∏—è.
</div>

–ü—Ä–µ–¥–ª–∞–≥–∞—é —Ä–∞–±–æ—Ç–∞—Ç—å –Ω–∞–¥ –ø—Ä–æ–µ–∫—Ç–æ–º –≤ —Ñ–æ—Ä–º–µ –¥–∏–∞–ª–æ–≥–∞: –µ—Å–ª–∏ —Ç—ã <b>—á—Ç–æ-—Ç–æ –º–µ–Ω—è–µ—à—å</b> –≤ —Ä–∞–±–æ—Ç–µ –ø–æ –º–æ–∏–º —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏—è–º ‚Äî <b>–Ω–∞–ø–∏—à–∏ –æ–± —ç—Ç–æ–º</b> –≤ —è—á–µ–π–∫–µ `Markdown` –∏ –ø–æ–º–µ—á–∞–π –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –∫–∞–∫–∏–º-—Ç–æ –∑–∞–º–µ—Ç–Ω—ã–º —Ü–≤–µ—Ç–æ–º, –Ω–∞–ø—Ä–∏–º–µ—Ä —Ç–∞–∫:
    
    
```
<div class="alert alert-block alert-info">
  
  <b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π c—Ç—É–¥–µ–Ω—Ç–∞</b>
    
  –¢–µ–∫—Å—Ç –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏—è.
</div>
```
    
<div class="alert alert-block alert-info">
  
  <b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π c—Ç—É–¥–µ–Ω—Ç–∞</b>
    
  –¢–µ–∫—Å—Ç –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏—è.
</div>
    
–ü–æ–∂–∞–ª—É–π—Å—Ç–∞, <b>–Ω–µ –ø–µ—Ä–µ–º–µ—â–∞–π, –Ω–µ –∏–∑–º–µ–Ω—è–π –∏ –Ω–µ —É–¥–∞–ª—è–π –º–æ–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏</b>. –¢–∞–∫–æ–π —Ñ–æ—Ä–º–∞—Ç —Ä–∞–±–æ—Ç—ã –ø–æ–º–æ–∂–µ—Ç –≤—ã–ø–æ–ª–Ω–∏—Ç—å –ø–æ–≤—Ç–æ—Ä–Ω—É—é –ø—Ä–æ–≤–µ—Ä–∫—É —Ç–≤–æ–µ–≥–æ –ø—Ä–æ–µ–∫—Ç–∞ –æ–ø–µ—Ä–∞—Ç–∏–≤–Ω–µ–µ.

</div>

# –ê–Ω–∞–ª–∏–∑ –±–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö —Å–µ—Ä–≤–∏—Å–∞ –¥–ª—è —á—Ç–µ–Ω–∏—è –∫–Ω–∏–≥

## –û–ø–∏—Å–∞–Ω–∏–µ –ø—Ä–æ–µ–∫—Ç–∞
–ö–æ–º–ø–∞–Ω–∏—è –∫—É–ø–∏–ª–∞ –∫—Ä—É–ø–Ω—ã–π —Å—Ç–∞—Ä—Ç–∞–ø-—Å–µ—Ä–≤–∏—Å –¥–ª—è —á—Ç–µ–Ω–∏—è –∫–Ω–∏–≥ –ø–æ –ø–æ–¥–ø–∏—Å–∫–µ. –†—É–∫–æ–≤–æ–¥—Å—Ç–≤–æ –∫–æ–º–ø–∞–Ω–∏–∏ –ø–æ—Å—Ç–∞–≤–∏–ª–æ –∑–∞–¥–∞—á—É –ø—Ä–æ–∞–Ω–∞–ª–∏–∑–∏—Ä–æ–≤–∞—Ç—å –±–∞–∑—É –¥–∞–Ω–Ω—ã—Ö –ø—Ä–∏–æ–±—Ä–µ—Ç–µ–Ω–Ω–æ–≥–æ —Å–µ—Ä–≤–∏—Å–∞. 
–ò–∑–≤–µ—Å—Ç–Ω–æ, —á—Ç–æ –±–∞–∑–∞ —Å–æ–¥–µ—Ä–∂–∏—Ç –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏–∏—é –æ –∫–Ω–∏–≥–∞—Ö, –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞—Ö, –∞–≤—Ç–æ—Ä–∞—Ö, –∞ —Ç–∞–∫–∂–µ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏—Ö –æ–±–∑–æ—Ä–∞—Ö –∫–Ω–∏–≥. –ü–æ–¥—Ä–æ–±–Ω–æ–µ –∏–∑—É—á–µ–Ω–∏–µ —ç—Ç–∏—Ö –¥–∞–Ω–Ω—ã—Ö –ø–æ–º–æ–∂–µ—Ç —Å—Ñ–æ—Ä–º—É–ª–∏—Ä–æ–≤–∞—Ç—å —Ü–µ–Ω–Ω–æ—Å—Ç–Ω–æ–µ –ø—Ä–µ–¥–ª–æ–∂–µ–Ω–∏–µ –¥–ª—è –Ω–æ–≤–æ–≥–æ –ø—Ä–æ–¥—É–∫—Ç–∞.

## –ó–∞–¥–∞—á–∏ –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è:
1. –ü–æ—Å—á–∏—Ç–∞—Ç—å —Å–∫–æ–ª—å–∫–æ –∫–Ω–∏–≥ –≤—ã—à–ª–æ –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞,
2. –î–ª—è –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏ –ø–æ—Å—Ç–∏—á–∞—Ç—å –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ä–µ–¥–Ω—é –æ—Ü–µ–Ω–∫—É,
3. –û–ø—Ä–µ–¥–µ–ª–∏—Ç—å –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ, –∫–æ—Ç–æ—Ä–æ–µ –≤—ã–ø—É—Å—Ç–∏–ª–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–Ω–∏–≥ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü ‚Äî —Ç–∞–∫ –≤—ã –∏—Å–∫–ª—é—á–∏—Ç–µ –∏–∑ –∞–Ω–∞–ª–∏–∑–∞ –±—Ä–æ—à—é—Ä—ã.
4. –û–ø—Ä–µ–¥–µ–ª–∏—Ç–µ –∞–≤—Ç–æ—Ä–∞ —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥ ‚Äî —É—á–∏—Ç—ã–≤–∞–π—Ç–µ —Ç–æ–ª—å–∫–æ –∫–Ω–∏–≥–∏ —Å 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–∫–∞–º–∏.
5. –ü–æ—Å—á–∏—Ç–∞–π—Ç–µ —Å—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 48 –æ—Ü–µ–Ω–æ–∫.

<div class="alert alert-success">
  
  <b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ç–∏–º–ª–∏–¥–∞</b>
    
  ‚úîÔ∏è –•–æ—Ä–æ—à–æ, —á—Ç–æ –µ—Å—Ç—å –æ–ø–∏—Å–∞–Ω–∏–µ –ø—Ä–æ–µ–∫—Ç–∞.
</div>

## –û—Å–Ω–æ–≤–Ω–∞—è —á–∞—Å—Ç—å

### –ò–º–ø–æ—Ä—Ç –±–∏–±–ª–∏–æ—Ç–µ–∫ –∏ –ø–æ–¥–∫–ª—é—á–µ–Ω–∏–µ –±–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö

In [1]:
# –∏–º–ø–æ—Ä—Ç–∏—Ä—É–µ–º –±–∏–±–ª–∏–æ—Ç–µ–∫–∏
import pandas as pd
from sqlalchemy import text, create_engine

In [2]:
# —É—Å—Ç–∞–Ω–∞–≤–ª–∏–≤–∞–µ–º –ø–∞—Ä–∞–º–µ—Ç—Ä—ã
db_config = {
    'user': 'praktikum_student', # –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è
    'pwd': 'Sdf4$2;d-d30pp', # –ø–∞—Ä–æ–ª—å
    'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
    'port': 6432, # –ø–æ—Ä—Ç –ø–æ–¥–∫–ª—é—á–µ–Ω–∏—è
    'db': 'data-analyst-final-project-db'} # –Ω–∞–∑–≤–∞–Ω–∏–µ –±–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö

<div class="alert alert-warning">
    
  <b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ç–∏–º–ª–∏–¥–∞</b>
    
  ‚ö†Ô∏è –í –±—É–¥—É—â–µ–º, –ø—Ä–∏ —Ä–µ–∞–ª—å–Ω–æ–π —Ä–∞–±–æ—Ç–µ –Ω–µ –æ—á–µ–Ω—å —Ö–æ—Ä–æ—à–æ —Ö—Ä–∞–Ω–∏—Ç—å –ø–∞—Ä–æ–ª–∏ –≤ —è–≤–Ω–æ–º –≤–∏–¥–µ. –ú–æ–∂–Ω–æ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å  —Ä–∞–∑–Ω—ã–µ –º–µ—Ç–æ–¥—ã, —á—Ç–æ–±—ã —Å–∫—Ä—ã—Ç—å –∏—Ö, –Ω–∞–ø—Ä–∏–º–µ—Ä, —Ö—Ä–∞–Ω–∏—Ç—å –≤ —Å–ø–µ—Ü–∏–∞–ª—å–Ω–æ–º —Å–∫—Ä—ã—Ç–æ–º —Ñ–∞–π–ª–µ .env –∏—Å–ø–æ–ª—å–∑—É—è –±–∏–±–ª–∏–æ—Ç–µ–∫—É python-dotenv.
</div>

In [3]:
connection_string = 'postgresql://{user}:{pwd}@{host}:{port}/{db}'.format(**db_config)

In [4]:
# —Å–æ—Ö—Ä–∞–Ω—è–µ–º –∫–æ–Ω–Ω–µ–∫—Ç–æ—Ä
engine = create_engine(connection_string, connect_args={'sslmode':'require'})

### –ò–∑—É—á–µ–Ω–∏–µ —Ç–∞–±–ª–∏—Ü—ã book

In [5]:
# –í—ã–≤–æ–¥–∏–º 5 —Å—Ç—Ä–æ–∫ —Ç–∞–±–ª–∏—Ü—ã book
query = '''SELECT * FROM books LIMIT 5'''

In [6]:
con=engine.connect()
pd.io.sql.read_sql(sql=text(query), con = con)

,book_id,author_id,title,num_pages,publication_date,publisher_id
0,1,546,'Salem's Lot,594,2005-11-01,93
1,2,465,1 000 Places to See Before You Die,992,2003-05-22,336
2,3,407,13 Little Blue Envelopes (Little Blue Envelope...,322,2010-12-21,135
3,4,82,1491: New Revelations of the Americas Before C...,541,2006-10-10,309
4,5,125,1776,386,2006-07-04,268

In [7]:
#—Å—á–∏—Ç–∞–µ–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–æ–∫ —Ç–∞–±–ª–∏—Ü—ã book
query = '''
SELECT COUNT(book_id)
FROM books AS b'''

In [8]:
con=engine.connect()
pd.io.sql.read_sql(sql=text(query), con = con)

   count
0   1000

### –ò–∑—É—á–µ–Ω–∏–µ —Ç–∞–±–ª–∏—Ü—ã authors

In [9]:
# –í—ã–≤–æ–¥–∏–º 5 —Å—Ç—Ä–æ–∫ —Ç–∞–±–ª–∏—Ü—ã
query = '''
SELECT *
FROM authors AS au
LIMIT 5 '''

In [10]:
con=engine.connect()
pd.io.sql.read_sql(sql=text(query), con = con)

   author_id                          author
0          1                      A.S. Byatt
1          2  Aesop/Laura Harris/Laura Gibbs
2          3                 Agatha Christie
3          4                   Alan Brennert
4          5        Alan Moore/David   Lloyd

In [11]:
#—Å—á–∏—Ç–∞–µ–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–æ–∫ —Ç–∞–±–ª–∏—Ü—ã
query = '''
SELECT COUNT(author_id)
FROM authors AS au '''

In [12]:
con=engine.connect()
pd.io.sql.read_sql(sql=text(query), con = con)

   count
0    636

### –ò–∑—É—á–µ–Ω–∏–µ —Ç–∞–±–ª–∏—Ü—ã publishers

In [13]:
# –í—ã–≤–æ–¥–∏–º 5 —Å—Ç—Ä–æ–∫ —Ç–∞–±–ª–∏—Ü—ã
query = '''
SELECT *
FROM publishers AS pub
LIMIT 5 '''

con=engine.connect()
pd.io.sql.read_sql(sql=text(query), con = con)

   publisher_id                          publisher
0             1                                Ace
1             2                           Ace Book
2             3                          Ace Books
3             4                      Ace Hardcover
4             5  Addison Wesley Publishing Company

In [14]:
# —Å—á–∏—Ç–∞–µ–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–æ–∫
query = '''
SELECT COUNT(publisher_id)
FROM publishers AS pub '''

con=engine.connect()
pd.io.sql.read_sql(sql=text(query), con = con)

   count
0    340

### –ò–∑—É—á–µ–Ω–∏–µ —Ç–∞–±–ª–∏—Ü—ã ratings

In [15]:
# –í—ã–≤–æ–¥–∏–º 5 —Å—Ç—Ä–æ–∫ —Ç–∞–±–ª–∏—Ü—ã
query = '''
SELECT *
FROM ratings AS r
LIMIT 5 '''

con=engine.connect()
pd.io.sql.read_sql(sql=text(query), con = con)

   rating_id  book_id       username  rating
0          1        1     ryanfranco       4
1          2        1  grantpatricia       2
2          3        1   brandtandrea       5
3          4        2       lorichen       3
4          5        2    mariokeller       2

In [16]:
# —Å—á–∏—Ç–∞–µ–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–æ–∫
query = '''
SELECT COUNT(rating_id)
FROM ratings AS r '''

con=engine.connect()
pd.io.sql.read_sql(sql=text(query), con = con)

   count
0   6456

### –ò–∑—É—á–µ–Ω–∏–µ —Ç–∞–±–ª–∏—Ü—ã reviews

In [17]:
# –í—ã–≤–æ–¥–∏–º 5 —Å—Ç—Ä–æ–∫ —Ç–∞–±–ª–∏—Ü—ã
query = '''
SELECT *
FROM reviews AS rew
LIMIT 5 '''

con=engine.connect()
pd.io.sql.read_sql(sql=text(query), con = con)

,review_id,book_id,username,text
0,1,1,brandtandrea,Mention society tell send professor analysis. ...
1,2,1,ryanfranco,Foot glass pretty audience hit themselves. Amo...
2,3,2,lorichen,Listen treat keep worry. Miss husband tax but ...
3,4,3,johnsonamanda,Finally month interesting blue could nature cu...
4,5,3,scotttamara,Nation purpose heavy give wait song will. List...

In [18]:
# —Å—á–∏—Ç–∞–µ–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–æ–∫
query = '''
SELECT COUNT(review_id)
FROM reviews AS rew '''

con=engine.connect()
pd.io.sql.read_sql(sql=text(query), con = con)

   count
0   2793

<div class="alert alert-success">
  
  <b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ç–∏–º–ª–∏–¥–∞</b>
    
  ‚úîÔ∏è –î–∞–Ω–Ω—ã–µ –ø–æ—Å–º–æ—Ç—Ä–µ–ª–∏. –ó–¥–æ—Ä–æ–≤–æ, —á—Ç–æ –∏—Å–ø–æ–ª—å–∑—É–µ–º limit!
</div>

### –ó–∞–¥–∞–Ω–∏–µ 1. –ü–æ—Å—á–∏—Ç–∞–π—Ç–µ, —Å–∫–æ–ª—å–∫–æ –∫–Ω–∏–≥ –≤—ã—à–ª–æ –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞

In [19]:
query = '''
SELECT COUNT(book_id)
FROM books AS b
WHERE publication_date > '2000-01-01'
'''

con=engine.connect()
pd.io.sql.read_sql(sql=text(query), con = con)

   count
0    819

–û—Ç–≤–µ—Ç: –ü–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞ –≤—ã—à–ª–æ 819 –∫–Ω–∏–≥.

<div class="alert alert-success">
  
  <b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ç–∏–º–ª–∏–¥–∞</b>
    
  ‚úîÔ∏è –ú–æ–∂–Ω–æ —É—Ç–æ—á–Ω–∏—Ç—å —É –∑–∞–∫–∞–∑—á–∏–∫–∞, –≤–∫–ª—é—á–∞–µ–º –º—ã 1 —è–Ω–≤–∞—Ä—è –∏–ª–∏ –Ω–µ—Ç.
</div>

### –ó–∞–¥–∞–Ω–∏–µ 2. –î–ª—è –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏ –ø–æ—Å—á–∏—Ç–∞–π—Ç–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ä–µ–¥–Ω—é—é –æ—Ü–µ–Ω–∫—É

In [20]:
query = '''
SELECT DISTINCT b.book_id,
       b.title,
       COUNT(DISTINCT r.review_id) AS count_review,
       AVG(rg.rating) AS avg_rating
FROM books AS b 
LEFT OUTER JOIN reviews AS r ON b.book_id=r.book_id 
LEFT OUTER JOIN ratings AS rg ON r.book_id=rg.book_id
GROUP BY DISTINCT b.book_id, b.title
ORDER BY COUNT(DISTINCT r.review_id) DESC
'''

con=engine.connect()
pd.io.sql.read_sql(sql=text(query), con = con)

,book_id,title,count_review,avg_rating
0,948,Twilight (Twilight #1),7,3.662500
1,207,Eat Pray Love,6,3.395833
2,299,Harry Potter and the Chamber of Secrets (Harry...,6,4.287500
3,302,Harry Potter and the Prisoner of Azkaban (Harr...,6,4.414634
4,497,Outlander (Outlander #1),6,4.125000
...,...,...,...,...
995,191,Disney's Beauty and the Beast (A Little Golden...,0,NaN
996,221,Essential Tales and Poems,0,NaN
997,387,Leonardo's Notebooks,0,NaN
998,672,The Cat in the Hat and Other Dr. Seuss Favorites,0,NaN
999,808,The Natural Way to Draw,0,NaN

–û—Ç–≤–µ—Ç: –î–ª—è –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏ –ø–æ—Å—á–∏—Ç–∞–Ω–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ä–µ–¥–Ω—è—è –æ—Ü–µ–Ω–∫–∞. –ï—Å—Ç—å –∫–Ω–∏–≥–∏, –Ω–∞ –∫–æ—Ç–æ—Ä—ã–µ –Ω–µ—Ç –Ω–∏ –æ–¥–Ω–æ–≥–æ –æ–±–∑–æ—Ä–∞ –∏ –æ—Ü–µ–Ω–∫–∏.

<div class="alert alert-danger">
    
  <b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ç–∏–º–ª–∏–¥–∞</b>
    
  ‚ùå –£ –Ω–∞—Å –æ—á–µ–Ω—å –±–æ–ª—å—à–æ–µ —á–∏—Å–ª–æ –æ—Ç–∑—ã–≤–æ–≤, –Ω–∞–ø—Ä–∏–º–µ—Ä, –ø–æ –°—É–º–µ—Ä–∫–∞–º (Twilight). –ü–æ–ø—Ä–æ–±—É–π —Å–¥–µ–ª–∞—Ç—å –ø—Ä–æ–≤–µ—Ä–∫—É: —Å—Ä–∞–≤–Ω–∏ —Å—É–º–º—É –ø–æ —Å—Ç–æ–ª–±—Ü—É reviews_count —Å –æ–±—â–∏–º —á–∏—Å–ª–æ–º –æ—Ç–∑—ã–≤–æ–≤ –≤ –±–∞–∑–µ.
</div>

<div class="alert alert-block alert-info">
  
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π c—Ç—É–¥–µ–Ω—Ç–∞</b>
    
–ü—Ä–∏–º–µ–Ω–∏–ª –æ–ø–µ—Ä–∞—Ç–æ—Ä distinct. –¢–µ–ø–µ—Ä—å —Å—É–º–º–∞ –æ–±–∑–æ—Ä–æ–≤ –≤ –º–æ–µ–º –∑–∞–ø—Ä–æ—Å–µ —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤—É–µ—Ç –æ–±—â–µ–º—É –∫–æ–ª–∏—á–µ—Å—Ç–≤—É –∑–∞–ø—Ä–æ—Å–æ–≤ –≤ –∏—Å—Ö–æ–¥–Ω–æ–π —Ç–∞–±–ª–∏—Ü–µ reviews ‚Äî 2793. –î–æ–±–∞–≤–∏–ª –≤ –∑–∞–ø—Ä–æ—Å –≤—ã–≤–æ–¥ –Ω–∞–∑–≤–∞–Ω–∏—è –∫–Ω–∏–≥–∏.
</div>
<div class="alert alert-success">
  
  <b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ç–∏–º–ª–∏–¥–∞ v.2</b>
    
  ‚úîÔ∏è –û–±–∑–æ—Ä–æ–≤ –Ω–∞ –°—É–º–µ—Ä–∫–∏ –±–æ–ª—å—à–µ –≤—Å–µ–≥–æ.
</div>

### –ó–∞–¥–∞–Ω–∏–µ 3. –û–ø—Ä–µ–¥–µ–ª–∏—Ç–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ, –∫–æ—Ç–æ—Ä–æ–µ –≤—ã–ø—É—Å—Ç–∏–ª–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ –∫–Ω–∏–≥ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü ‚Äî —Ç–∞–∫ –≤—ã –∏—Å–∫–ª—é—á–∏—Ç–µ –∏–∑ –∞–Ω–∞–ª–∏–∑–∞ –±—Ä–æ—à—é—Ä—ã

In [21]:
query = '''
SELECT p.publisher_id,
       p.publisher,
    COUNT(b.book_id) AS count_book
FROM publishers AS p 
LEFT JOIN books AS b ON p.publisher_id = b.publisher_id 
WHERE num_pages > 50
GROUP BY p.publisher_id
ORDER BY COUNT(b.book_id) DESC
LIMIT 1
'''

con=engine.connect()
pd.io.sql.read_sql(sql=text(query), con = con)

   publisher_id      publisher  count_book
0           212  Penguin Books          42

–û—Ç–≤–µ—Ç: –ù–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ –∫–Ω–∏–≥ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü –≤—ã–ø—É—Å—Ç–∏–ª–æ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ Penguin Books –ø–æ–¥ id-–Ω–æ–º–µ—Ä–æ–º 212 (42 –∫–Ω–∏–≥–∏).

<div class="alert alert-success">
  
  <b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ç–∏–º–ª–∏–¥–∞</b>
    
  ‚úîÔ∏è –í—ã—è–≤–∏–ª–∏ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ.
</div>

### –ó–∞–¥–∞–Ω–∏–µ 4. –û–ø—Ä–µ–¥–µ–ª–∏—Ç–µ –∞–≤—Ç–æ—Ä–∞ —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥ ‚Äî —É—á–∏—Ç—ã–≤–∞–π—Ç–µ —Ç–æ–ª—å–∫–æ –∫–Ω–∏–≥–∏ —Å 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–∫–∞–º–∏

In [22]:
query = '''
SELECT a.author
FROM authors a 
WHERE a.author_id IN (SELECT b.author_id
                      FROM books b
                      WHERE b.book_id IN (SELECT book_id_new
                                          FROM (SELECT book_id AS book_id_new,
                                                       AVG(r2.rating) AS avg_rating
                                                 FROM (SELECT count(r.rating_id) AS count_rating,
                                                              b.book_id AS bk
                                                       FROM ratings AS r 
                                                       LEFT JOIN books AS b ON r.book_id = b.book_id
                                                       GROUP BY b.book_id
                                                       HAVING count(r.rating_id) >= 50) AS t1
                                                 LEFT JOIN ratings r2 ON t1.bk = r2.book_id
                                                 GROUP BY book_id
                                                 ORDER BY AVG(r2.rating) DESC
                                                 LIMIT 1) AS only_book))
'''

con=engine.connect()
pd.io.sql.read_sql(sql=text(query), con = con)

                       author
0  J.K. Rowling/Mary GrandPr√©

–û—Ç–≤–µ—Ç: J.K. Rowling/Mary GrandPr√© ‚Äî –∞–≤—Ç–æ—Ä —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥, –µ—Å–ª–∏ —É—á–∏—Ç—ã–≤–∞—Ç—å –∫–Ω–∏–≥–∏, –∫–æ—Ç–æ—Ä—ã–µ –∏–º–µ—é—Ç 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–æ–∫.

<div class="alert alert-success">
  
  <b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ç–∏–º–ª–∏–¥–∞</b>
    
  ‚úîÔ∏è –î–∞, —É –î–∂–æ–∞–Ω –†–æ—É–ª–∏–Ω–≥ —Ä–µ–π—Ç–∏–Ω–≥ —Å–∞–º—ã–π –≤—ã—Å–æ–∫–∏–π.
</div>

### –ó–∞–¥–∞–Ω–∏–µ 5. –ü–æ—Å—á–∏—Ç–∞–π—Ç–µ —Å—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 48 –æ—Ü–µ–Ω–æ–∫

In [23]:
query = '''
SELECT AVG(count_reviews)
FROM (SELECT rev.username,
             COUNT(rev.review_id) AS count_reviews
      FROM reviews AS rev
      WHERE rev.username IN (SELECT t1.username AS username
                             FROM (SELECT r.username,
                                           COUNT(r.rating_id) AS count_comment
                                   FROM ratings AS r
                                   GROUP BY r.username
                                   HAVING COUNT(r.rating_id) > 48) AS t1)
      GROUP BY rev.username) AS final_t
'''

con=engine.connect()
pd.io.sql.read_sql(sql=text(query), con = con)

    avg
0  24.0

–û—Ç–≤–µ—Ç: C—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 48 –æ—Ü–µ–Ω–æ–∫ —Ä–∞–≤–Ω–æ 24.

<div class="alert alert-success">
  
  <b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ç–∏–º–ª–∏–¥–∞</b>
    
  ‚úîÔ∏è –í–µ—Ä–Ω–æ!
</div>

## –í—ã–≤–æ–¥—ã –ø–æ –ø—Ä–æ–µ–∫—Ç—É

###### –ö–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–æ–∫ –≤ —Ç–∞–±–ª–∏—Ü–∞—Ö:
* book - 1000,
* authors - 636,
* publishers - 340,
* ratings - 6456,
* reviews - 2793.

###### –ó–∞–¥–∞–Ω–∏—è
1. –ü–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞ –≤—ã—à–ª–æ 819 –∫–Ω–∏–≥.
2. –î–ª—è –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏ –ø–æ—Å—á–∏—Ç–∞–Ω–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ä–µ–¥–Ω—è—è –æ—Ü–µ–Ω–∫–∞. –ï—Å—Ç—å –∫–Ω–∏–≥–∏, –Ω–∞ –∫–æ—Ç–æ—Ä—ã–µ –Ω–µ—Ç –Ω–∏ –æ–¥–Ω–æ–≥–æ –æ–±–∑–æ—Ä–∞ –∏ –æ—Ü–µ–Ω–∫–∏.
3. –ù–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ –∫–Ω–∏–≥ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü –≤—ã–ø—É—Å—Ç–∏–ª–æ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ Penguin Books –ø–æ–¥ id-–Ω–æ–º–µ—Ä–æ–º 212 (42 –∫–Ω–∏–≥–∏).
4. J.K. Rowling/Mary GrandPr√© ‚Äî –∞–≤—Ç–æ—Ä —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥, –µ—Å–ª–∏ —É—á–∏—Ç—ã–≤–∞—Ç—å –∫–Ω–∏–≥–∏, –∫–æ—Ç–æ—Ä—ã–µ –∏–º–µ—é—Ç 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–æ–∫.
5. C—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 48 –æ—Ü–µ–Ω–æ–∫ —Ä–∞–≤–Ω–æ 24.

<div style="border:solid black 2px; padding: 20px">
  
    
  <b>–ß–µ–∫-–ª–∏—Å—Ç –¥–æ—Ä–∞–±–æ—Ç–æ–∫</b>
    
    
  üìÉ –ü—Ä–æ–≤–µ—Ä–∏—Ç—å –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ä–µ–¥–Ω—é—é –æ—Ü–µ–Ω–∫—É –¥–ª—è –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏.
  
 
–ñ–¥—É —Ç–≤–æ–π –ø—Ä–æ–µ–∫—Ç –Ω–∞ –ø–æ–≤—Ç–æ—Ä–Ω–æ–µ —Ä–µ–≤—å—é. –ù–µ —Å—Ç–µ—Å–Ω—è–π—Å—è –æ—Å—Ç–∞–≤–ª—è—Ç—å –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ –∏ –∑–∞–¥–∞–≤–∞—Ç—å –≤–æ–ø—Ä–æ—Å—ã. –£–¥–∞—á–∏! –í—Å–µ –ø–æ–ª—É—á–∏—Ç—Å—è.
</div>