<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Задача:" data-toc-modified-id="Задача:-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Задача:</a></span></li><li><span><a href="#Решение" data-toc-modified-id="Решение-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Решение</a></span><ul class="toc-item"><li><span><a href="#А)-Единичные-пропуски" data-toc-modified-id="А)-Единичные-пропуски-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>А) Единичные пропуски</a></span></li><li><span><a href="#B)-Все-пропуски" data-toc-modified-id="B)-Все-пропуски-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>B) Все пропуски</a></span></li></ul></li></ul></div>

### Задача:

Дан столбец A:

А

1

2

3

4

6

10

12

14

16

Необходимо:

A)	Написать код в python, который выведет только ЕДИНИЧНЫЕ пропуски в данном столбце. Т.е. для исходного столбца, мы получим аутпут – [5,11,13,15]

B)	Написать код в python, который выведет ВСЕ пропуски, т.е. для исходного столбца мы получим аутпут [5,7,8,9,11,13,15]

### Решение

In [1]:
# импортируем библиотеку пандас
import pandas as pd

In [2]:
#создаем датафрейм как в условии задачи

df = pd.DataFrame({'A': [1,2,3,4,6,10,12,14,16]}) 
df

    A
0   1
1   2
2   3
3   4
4   6
5  10
6  12
7  14
8  16

#### А) Единичные пропуски

In [3]:
# Создаём множество из исходного датафрейма
current_set = set(df['A'])
current_set

# Определим максимальное и минимальное число в исходном датафрейме
min_number = min(df['A'])
max_number = max(df['A'])

# создаем пустой список для сохранения пропущеных чисел
lost_numbers = []

# создаем цикл, который будет пробегаться по диапазону от 1 до 16
for item in range(min_number, max_number):
    
# Проверяем, что число из диапазона (item) отсутствует в множестве из исходного дамафрейма current_set,
# а также проверяем наличие значений справа и слева от проверяемого числа (item - 1 и item + 1) — выявим единичные пропуски
# если item соответствует обоим условиям, то добавляем его в список lost_numbers
    if item not in current_set and (item - 1 in current_set and item + 1 in current_set):
        lost_numbers.append(item)

# печатает список с единичными пропусками на экран
lost_numbers

[5, 11, 13, 15]

#### B) Все пропуски

In [4]:
# создаем диапазон из всех возможных чисел от 1 до 17 для сравления с исходным датафреймом  
all_numbers = range(min(df['A']), max(df['A']) + 1) 

all_numbers

range(1, 17)

Далее находим разницу между множеством значений созданного диапазона all_numbers и множеством исходного столбца df['A']: 

(set(all_numbers) - set(df['A']) 

Таким образом получим значения диапазона all_numbers, которых нет в исходном диапазоне df['A'].

Отсортируем полученный результат и запишем в переменную result.

In [5]:
result = sorted(list(set(all_numbers) - set(df['A'])))

result

[5, 7, 8, 9, 11, 13, 15]